<!DOCTYPE html>
<html>
    {{> header}}
    <style>
        body {
            background-color: darkgray
        }
    </style>
    <body>
        <h1 style="text-align: center">Name something that is in Space !</h1>
        <form method="POST" action="/nasa">
        <div class="form">
            <label for="picture_input">Picture:</label>
            <input type="text" class="form-control" name='picture_input' id="picture_input">
        </div><br>
        <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        <div class='container'>
    <div class="row">
        <div class="col-sm"><br>
            <img src={{output1}} alt="" width="300" height="300">
        </div>
        <div class="col-sm"><br>
            <img src={{output2}} alt="" width="300" height="300">
        </div>
        <div class="col-sm"><br>
            <img src={{output3}} alt="" width="300" height="300">
        </div>
        <div class="col-sm"><br>
            <img src={{output4}} alt="" width="300" height="300">
        </div>
        <div class="col-sm"><br>
            <img src={{output5}} alt="" width="300" height="300">
        </div>
        <div class="col-sm"><br>
            <img src={{output6}} alt="" width="300" height="300">
        </div>
    </div>
    </body>
</html>